<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/contactus.css">
</head>
<body>
    <header class="main-header">
        <nav class="navbar">
            <ul class="main-header-ul">
                <li class="main-header-li">
                    <a href="/" >Shop</a>
                </li>
                <li class="main-header-li">
                    <a href="/admin/add-product" >Add Product</a>
                </li>
                <li class="main-header-li">
                    <a href="/admin/contactus" class="active">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <h1>Book A Call</h1>
        <p>Book a call slot and our representative will call u within 1hr of selected time</p>
        <hr/>
        <form  class="contactus-form"  action="/success" method="POST">
            <label>Name</label>
            <br>
           <input type="text" name="name" placeholder="Enter Your Name"/>
           <br>
           <label>Email</label>
           <br>
           <input type="email" name="email" placeholder="Enrter Your Email"/>
           <br>
           
           <button type="submit">Get A Call</button>
        </form>
</body>
</html>